[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git@github.com:samvermette/SVProgressHUD.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = git://github.com/FFmpeg/FFmpeg.git
[submodule "gas-preprocessor"]
	path = gas-preprocessor
	url = git://github.com/mansr/gas-preprocessor.git
